@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 22px;
}

body {
  background-color: rgb(214, 216, 215);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.heading {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
}

.heading--pink {
  font-weight: 700;
  font-size: 56px;
  color: rgb(231, 117, 136);
}

.containier {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
